body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #0A143A;
}

.container {
  max-width: 1146px;
  margin: auto;

}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 12px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.navbar-menu {
  margin-right: auto;
}

.menu {
  /* отключили точки */
  list-style: none;
  margin: 0;
  padding-left: 22px;
  padding-right: 22px;
  display: flex;
}

/* отступ справа для всех пунктов меню, кроме последнего */
.menu-item:not(:last-child) {
  margin-right: 14px;
}

.menu-link {
  /* Отключили подчеркивание ссылок */
  text-decoration: none;
  /* взяли цвет родителя (body) */
  color: inherit;
}

.button {
  /* Отключили подчеркивание ссылок */
  text-decoration: none;
  display: inline-block;
  /* сверху-снизу 10, а справа-слева 15 */
  padding: 10px 15px;
  cursor: pointer;
}

.button-link {
  color: inherit;
}

.button-primary {
  /* скруглили углы */
  border-radius: 5px;
  background: #256eeb;
  color: white;
}

.button-block {
  display: block;
  width: 100%;
  height: 54px;
  margin-bottom: 14px;
  border: none;
  justify-content: center;
  align-items: center;
}

.button-success {
  background-color: #14b4be;
  border-radius: 5px;
  color: white;
}

.search-panel {
  height: 50px;
  border-radius: 5px;
  background: #256eeb;
  display: flex;
  padding: 3px;
}

.search-input {
  /* заполнял всё собой по ширинев сторону кнопки */
  flex-grow: 1;
  border-radius: 5px;
  background: #fff;
  /* скрыли обводку */
  border: none;
  padding-left: 22px;
  padding-right: 22px;
}

.search-button {
  background: inherit;
  color: white;
  border: none;
  /* в уроке 20, но КМК 17 лучше */
  padding-left: 17px;
  padding-right: 17px;
  display: flex;
  align-items: center;
}

.search-button-text {
  margin-left: 5px;
}

.page-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.card {
  margin-bottom: 20px;
}

.card:not(:nth-child(3n)) {
  margin-right: 20px;
}

.card-image {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-link {
  text-decoration: none;

}

.card-title {
  font-size: 16px;
  line-height: 19px;
  margin-top: 12px;
  margin-bottom: 5px;
  color: #256eeb;
  max-width: 214px;
}

.like {
  background-color: white;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}

.card-price {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  display: block;
}

.card-text {
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 4px;
  margin-top: 0;
}

.sidebar .page-title {
  font-size: 18px;
  line-height: 21px;

}

.service {
  margin-bottom: 25px;
}

.service-title {
  font-size: 14px;
  color: #0a143a;
  line-height: 16px;
  margin-top: 7px;
  margin-bottom: 5px;
}

.service-text {
  font-size: 14px;
  line-height: 16px;
  max-width: 217px;
}

.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.footer-text {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 5px;
}

.footer-link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
}

/* .swiper {
  width: 600px;
  height: 300px;
} */

.content {
  max-width: 460px;
  margin-right: 30px;
}

/* .swiper-image {
  width: 100%;
  border-radius: 10px;
} */

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  /* height: 80%; */
  width: 100%;
  border-radius: 10px;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  border-radius: 10px;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.content-text {
  font-size: 14px;
  line-height: 140%;
  color: #0a143a;
}

.rating-counter {
  font-size: 14px;
  color: #0a143a;
  opacity: 0.5;
  margin-left: 10px;
}

.rating {
  display: flex;
  margin-bottom: 5px;
}

.main-single {
  display: flex;
  align-items: flex-start;
}

.author {
  min-width: 264px;
}

.author-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 30px;
}

.author-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.author-name {
  font-weight: bold;
  font-size: 14px;
  color: #0a143a;
  display: block;
  margin-bottom: 4px;
}

.author-status {
  font-size: 12px;
  color: #0a143a;

}

.single-price {
  font-size: 24px;
  color: #0a143a;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 25px;
  display: block;
}

.page-title {
  margin-top: 0;
  margin-bottom: 25px;

}