body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #0A143A;
  margin: 0 auto;
}

.container {
  max-width: 1146px;
  margin: auto;
  padding: 0 auto;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.navbar-panel {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.navbar-menu {
  margin-right: auto;
}

.menu {
  /* отключили точки */
  list-style: none;
  margin: 0;
  padding-left: 22px;
  padding-right: 22px;
  display: flex;
}

/* отступ справа для всех пунктов меню, кроме последнего */
.menu-item:not(:last-child) {
  margin-right: 14px;
}

.menu-link {
  /* Отключили подчеркивание ссылок */
  text-decoration: none;
  /* взяли цвет родителя (body) */
  color: inherit;
}

.menu-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  display: none;
}

.btn {
  /* Отключили подчеркивание ссылок */
  text-decoration: none;
  display: inline-block;
  /* сверху-снизу 10, а справа-слева 15 */
  padding: 10px 15px;
  cursor: pointer;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
  /* скруглили углы */
  border-radius: 5px;
  border: none;
}

.btn-outline {
  color: inherit;
  background-color: transparent;
}

.btn-primary {
  background: #256eeb;
  color: white;
}

.button-block {
  display: flex;
  width: 100%;
  height: 54px;
  margin-bottom: 14px;
  border: none;
  justify-content: center;
  align-items: center;
}

.button-success {
  background-color: #14b4be;
  border-radius: 5px;
  color: white;
}

.search {
  margin-bottom: 45px;
}

.search-box {
  width: 100%;
  /* height: 50px; */
  border-radius: 5px;
  background: #256eeb;
  display: flex;
  padding: 3px;
  align-items: center;
  justify-content: flex-start;
}

.search-box input {
  /* заполнял всё собой по ширинев сторону кнопки */
  flex-grow: 1;
  border-radius: 5px;
  background: #fff;
  /* скрыли обводку */
  border: none;
  padding: 14px 22px;
  outline: none;
  min-width: 0;
}

.search-btn {
  background: inherit;
  color: white;
  border: none;
  /* padding-left: 17px;
  padding-right: 17px; */
  display: flex;
  align-items: center;
}

/* */

.search-btn .search-btn__text {
  margin-left: 2px;
  font-size: 16px;
  line-height: 19px;
}

.search-btn .search-btn__icon {
  width: 15px;
  height: 15px;
}

.content {
  padding-bottom: 50px;
}

.content-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.content-main {
  flex-grow: 1;
}

.content-main__title {
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 25px;
}

.content-main__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}


.content-side {
  width: 260px;
}


.content-side__title {
  font-size: 18px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 23px;
}

.content-side__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 25px;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 36px;
  padding-bottom: 36px;
}

.content-side__list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-side__list-item--title {
  font-size: 14px;
  line-height: 16px;
  color: #0a143a;
  margin-top: 7px;
  margin-bottom: 5px;
}

.content-side__list-item--text {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

.content-side__footer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.content-side__footer--item {
  color: #c4c4c4;
  text-decoration: none;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}

.content-product {
  display: flex;
  flex-grow: 1;
  gap: 30px;
}

.content-product__left {
  flex-basis: 50%;
}

.content-product__right {
  flex-basis: 50%;
}

.content-product__title,
.content-product__price {
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 25px;
}

.btn-large {
  display: flex;
  width: 90%;
  height: 54px;
  /* margin-bottom: 14px; */
  border: none;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.close-menu {
  display: none;
}

@media (max-width:1200px) {
  .container {
    max-width: 930px;
  }
}

@media (max-width:991px) {
  .container {
    max-width: 730px;
  }

  .content-box {
    flex-direction: column;
  }

  .content-main {
    width: 100%;
  }

  .content-side {
    width: 100%;
    min-width: none;
  }

  .content-product {
    flex-direction: column;
    width: 100%;

  }

  .content-product__left {
    flex-basis: 100%;
    width: 100%;
  }

  .content-product__right {
    flex-basis: 100%;
    width: 100%;
  }

  .content-product__img {

    width: 100%;
  }

  .content-product__text {
    font-size: 14px;
    line-height: 20px;
  }

  .btn-large {
    width: 50%;
  }
}

@media (max-width:786px) {
  .container {
    max-width: 560px;
  }

  .search-btn .search-btn__text {
    display: none;
  }

  .btn-large {
    width: 50%;
  }
}

@media (max-width:480px) {
  .container {
    max-width: 90%;
  }
}